/* Reset and Global Styles */

  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
  }
  
  /* Header & Navbar Container */
  .header {
    background-color: #b1c6ff;
    padding: 10px 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between; /* Align logo to the left and menu to the right */
    
  }
  
  .header__logo {
    margin-top: 10px;
    font-size: 24px;
    color: #fff;
    font-weight: bold;
  }
  
  .header__logo a {
    text-decoration: none;
    color: #fff;
  }
  
  .navbar {
    margin-top: 10px;
    display: flex;
    align-items: center;
  }
  
  .navbar__menu {
    display: flex;
    list-style: none;
    padding: 0;
  }
  
  .navbar__item {
    margin: 0 20px;
  }
  
  .navbar__link {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 4px;
    transition: all 0.3s ease;
  }
  
  .navbar__link:hover {
    background-color: #34495e;
    color: #ecf0f1;
  }
  
  .navbar__link:active {
    transform: scale(0.98);
  }
  
  .navbar__link.active {
    background-color: #1abc9c;
    color: #2c3e50;
  }
  
  /* Role-Based Styling */
  .admin {
    color: #e67e22;
  }
  
  .expert {
    color: #2980b9;
  }
  
  .client {
    color: #e74c3c;
  }
  
  /* Hover Effects for Role-Based Links */
  .admin:hover, .expert:hover, .client:hover {
    color: #fff;
    background-color: #34495e;
  }
  
  /* Logout Button */
  .navbar__link.logout {
    background-color: #e74c3c;
  }
  
  .navbar__link.logout:hover {
    background-color: #c0392b;
  }
  
  
  